@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Delius', cursive;
}

.portfolioTitle {
  padding: 0.5em;
}

.hero {
  width: 100%;
  margin-top: 10vh;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4em;
}

.projectBox {
  border: 2px solid black;
  margin: 4em;
  display: flex;
  justify-content: space-around;
}

.projectItem {
  width: 28%;
  height: 250px;
  margin: 2em;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  text-decoration: none;
}

.projectItem:hover {
box-shadow: black 2px 2px;
background-color: slategray;
}

.projectImage {
  height: 80%;
}

.projectTitle {
  margin: 0;
}

.wordSideBox {
  font-size: 20px;
}

.headerSideBox a {
  margin: 5px;
}

.headerSideBox a:hover {
  text-shadow: 2px 2px #ff0000;
}