@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Raleway&display=swap');

$font-family-dancing-script: 'Jost';
$font-family-raleway: 'Raleway', sans-serif;

@font-face {
  font-family: "Medium";   /*Can be any text*/
  src: local("LarkenDEMO-Medium"),
    url("./fonts/LarkenDEMO-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("Guminert"),
    url("./fonts/Guminert.ttf") format("truetype");
}

body {
  background-color: rgb(255, 255, 255);
  font-family: $font-family-raleway;
  font-weight: 400;
}

// Example for a bold Raleway font in certain elements
h1, h2, h3 {
  font-family: $font-family-raleway;
  font-weight: 700; // Bold for headings
}

.portfolioTitle {
  font-family: $font-family-dancing-script;
  padding: 0.5em;
  width: auto; // Adjust as needed or use a specific width
  margin: auto; // This centers it horizontally
  text-align: center; // Ensure text inside is also centered
}

.hero {
  width: 100%;
  margin-top: 5vh;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: center; // Changed to center
  align-items: center;
  font-size: 3em;
  text-align: center;
}

.projectBox {
  // border: 2px solid black;
  padding: 1em;
  margin: 2em;
  display: flex;
  justify-content: space-around;
}

.projectItem {
  width: 28%;
  height: 8em;
  margin: 2em;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  border: 2px solid black; // Replace with your primary color
  color: black; // Replace with your text color
  background-color: white; // Replace with a secondary color
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
}


.projectImage {
  width: 100%;
  max-height: 200px;
  padding-bottom: 20px;
}

.projectTitle {
  margin: 0;
  text-align: center;
}

.wordSideBox {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

#resume:hover {
  text-shadow: 1px 1px #ff0000;
  animation: bounce 0.8s infinite alternate;
}

.headerSideBox {
  display: flex; // Default display for larger screens
  margin-right: 20px;
  // ... other styles ...
}

.headerSideBox a {
  margin: 5px;
}

.headerSideBox a :hover {
  animation: bounce 0.8s infinite alternate;
}

.resumeBox {
  text-align: center;
}

.burger-menu {
  display: none; // Hide burger menu by default
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(+3px);
  }
}

@media (max-width: 1036px) {
  .projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .projectItem {
    width: 80%; // Adjust the width as needed
    height: auto; // Height is auto to maintain aspect ratio
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center; // Align items for symmetry
  }

  .projectImage {
    width: 100%; // Full width of the project item
    height: auto; // Maintain aspect ratio
    object-fit: cover; // This will crop the image to fill the area, maintaining aspect ratio
    padding-bottom: 20px;
  }

  .projectTitle {
    // Add any additional styles for titles on mobile here
  }
}

@media (max-width: 700px) {
  .wordSideBox {
    display: none;
  }
  .burger-menu {
    display: block; // Show burger menu on smaller screens
    cursor: pointer;
    margin-right: 20px;
    // Style the burger bars here
    .bar {
      width: 25px; // Width of the bar
      height: 3px; // Height of the bar
      background-color: #333; // Color of the bar
      margin: 4px 0; // Space between bars
      transition: all 0.3s ease;
    }
  }

  .headerSideBox {
    display: none; // Hide normal menu on smaller screens
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 10;
  }

  // Display the menu when it's open
  .isMenuOpen {
    display: flex; 
    flex-direction: column;
    .headerSideBox {
      display: block; // or 'flex', depending on your layout
    }
  }

  // Transform burger menu into a cross when open
  .burger-menu-open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .burger-menu-open .bar:nth-child(2) {
    opacity: 0;
  }
  .burger-menu-open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
