@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Geo', sans-serif;
}

.portfolioTitle {
  padding: 0.5em;
  width: 40%;
}

.hero {
  width: 100%;
  margin-top: 10vh;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4em;
  text-align: center;
}

.projectBox {
  border: 2px solid black;
  margin: 4em;
  display: flex;
  justify-content: space-around;
}

.projectItem {
  width: 28%;
  height: 250px;
  margin: 2em;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  background-color: rgb(209, 209, 209);
  color: black;
}

.projectItem:hover {
box-shadow: black 2px 2px;
background-color: slategray;
}

.projectImage {
  width: 100%;
}

.projectTitle {
  margin: 0;
  text-align: center;
}

.wordSideBox {
  font-size: 20px;
}

.headerSideBox a {
  margin: 5px;
}

.headerSideBox a:hover {
  text-shadow: 2px 2px #ff0000;
}

@media (max-width: 1036px) {
  .projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectItem {
    width: 80%;
    margin: 1em;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    text-decoration: none;
  }
  .wordSideBox, .headerSideBox{
    visibility: hidden;
    width: 0;
  }
  .hero {
    margin-top: 5vh;
  }
  .portfolioTitle {
    font-size: 0.75em;
  }
}